<div class="container">
  
  <!-- Search Box -->
  <input type="text" placeholder="Search Wikipedia!" ng-model="wikiQuery" ng-model-options="{ debounce: 300 }">

  <!-- Search Result -->
  <div id="wiki-entry" ng-repeat="result in wikiResults">
    <button type="button" data-toggle="collapse" data-target="{{'#' + $index}}" aria-expanded="false" aria-controls="collapseExample" ng-click="closeOthers()">
    {{result.title}}
    </button>
    <div class="collapse" id="{{$index}}">
      <div class="well">
        <blockquote ng-bind-html="result.snippet"></blockquote>
      </div>
    </div>
  </div>

</div>


